:root {
    --customColor: #081458;
  }
.container{
    border-radius: 10px;
    background-color: white;
    /* border: #081158 solid 1px; */
    margin: 3rem;
    height: auto;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    height: fit-content;
    overflow: auto;

}
.row{
    display: flex;
}
.split{
    justify-content: space-between;
    border-bottom: #F5F5F5 solid 1px;
}
.design{
    color: var(--customColor);
    font-family: 'Sato', Courier, monospace;
}
.heading {
    font-size: 25px;
    font-weight: bold;
}
.title-content{
    height: 30px;
    padding: 15px;
}

.info-input{
    display: block;
    height: 50px;
}
.info-input label{
    color: var(--customColor);
    font-weight: bold;
    font-family: 'Sato', Courier, monospace;
}
.info-input input[type="text"]{
    border-radius: 6px;
    height: 34px;
    padding: 0 10px;
    margin-top: 10px;
    font-size:20px;
    border: none;
    background-color: #E8EAF4;
}
.big-input{
    width: 97%;
}

.small-input{
    width: 30%;
}
.all-small{
    width: 98%;
    align-items: flex-start;
}

.input-container{
    margin-bottom: 20px;
}